<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <title>Detector Dashboard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body class="flex h-screen bg-gray-100">
    <div
      th:replace="~{fragments/sidebar :: sidebar}"
      class="w-64 bg-green-700 text-white flex flex-col"
    ></div>

    <div class="flex-1 flex flex-col overflow-hidden">
      <header
        th:replace="~{fragments/header :: header}"
        class="flex items-center justify-between bg-white border-b border-gray-200 px-6 py-4"
      ></header>

      <div th:replace="~{fragments/notification :: notifications}"></div>

      <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-100 p-6">
        <div layout:fragment="content"></div>
      </main>
    </div>

    <script th:src="@{/js/script.js}"></script>
    <script layout:fragment="script"></script>
    <script th:src="@{/js/flowbite.min.js}"></script>
  </body>
</html>
