<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <title
      th:text="${title} == null ? 'Smart Factory' : ${title} + '- Smart Factory'"
    >
      Smart Factory
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <th:block layout:fragment="css"> </th:block>
    <th:block layout:head></th:block>
  </head>
  <body class="flex h-screen bg-gray-100">
    <div
      th:replace="~{fragments/sidebar :: sidebar}"
      class="w-64 bg-green-700 text-white flex flex-col"
    ></div>

    <div class="flex-1 flex flex-col overflow-hidden">
      <button
        id="sidebar-toggle"
        data-drawer-target="sidebar-drawer"
        data-drawer-show="sidebar-drawer"
        aria-controls="sidebar-drawer"
        type="button"
        class="fixed top-15 left-15 z-50 p-2 bg-green-700 text-white rounded hover:bg-green-800 transition"
      >
        <svg
          class="w-1 h-1 text-white-800 text-bold"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="m9 5 7 7-7 7"
          />
        </svg>
      </button>

      <header th:replace="~{fragments/header :: header}"></header>

      <div th:replace="~{fragments/notification :: notifications}"></div>

      <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-100 p-6">
        <div layout:fragment="content"></div>
      </main>
    </div>

    <script th:inline="javascript">
      document.addEventListener("DOMContentLoaded", function () {
        //  알림 버튼 처리
        const notificationButton = document.getElementById(
          "notification-button"
        );
        const notificationContainer = document.getElementById(
          "notification-container"
        );

        if (notificationButton && notificationContainer) {
          notificationButton.addEventListener("click", function () {
            notificationContainer.classList.toggle("hidden");
          });
        }

        //  햄버거 버튼 동작 처리
        const sidebarToggleBtn = document.getElementById("sidebar-toggle");

        // Flowbite drawer 이벤트 처리
        document.addEventListener("drawer:show", (event) => {
          if (event.target.id === "sidebar-drawer") {
            sidebarToggleBtn.classList.add("hidden");
          }
        });

        document.addEventListener("drawer:hide", (event) => {
          if (event.target.id === "sidebar-drawer") {
            sidebarToggleBtn.classList.remove("hidden");
          }
        });
      });
    </script>
    <script layout:fragment="script"></script>
    <script th:src="@{/js/flowbite.min.js}"></script>
  </body>
</html>
